<html lang="en">
    <header>
        <title>contacts</title>
        <link rel="stylesheet" href="/styles.css">
    </header>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="contact-details">
            <h1>About Contact</h1>
                <div>
                    <img src="<%= contact.image %>" alt="Contact Image" />
                    <h1><%= contact.title %></h1>
                    <h3><%= contact.snippet %></h3>
                    <p><%= contact.body %></p>
                </div>
                    <a class="delete" data-doc="<%= contact._id %>" href="/all-mschema">
                        <img src="/deleteicon.svg" />
                    </a>     
        </div>
        <script>
            const trashcan = document.querySelector('a.delete');
        
            trashcan.addEventListener('click', (e) => {
              const endpoint = `/all-mschema/${trashcan.dataset.doc}`;
        
              fetch(endpoint, {method: 'DELETE',})
                .then(response => response.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log(err));
            });
            
          </script>
    </body>
</html>